* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $standard-text-font;
    color: $primary-paragraph-color;
    font-size: 15px;
    font-weight: 400;
}

img {
    width: 100%;
}

.container {
    width: 75%;
    margin: 0 auto;
}

h2 {
    font-family: $title-font;
    font-size: 65px;
    font-weight: 900;
}

h4 {
    font-family: $title-font;
    font-weight: 700;
}

ul {
   list-style: none;
}

a {
    text-decoration: none;
    color: $primary-title-color;
}

.btn {
    display: inline-block;
    color: white;
    background-color: $primary_color;
    padding: 11px 21px;
    border-radius: 3px;
    border: 1px solid $primary_color;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s background-color, 0.5s border-color;

    &:hover {
        background-color: $secondary-title-color;
        border-color: $secondary-title-color;
    }
}

.btn-empty {
    display: inline-block;
    color: $primary_color;
    background-color: transparent;
    padding: 11px 21px;
    border-radius: 3px;
    border: 1px solid $primary_color;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s background-color, 0.5s color, 0.5s border-color;

    &:hover {
        background-color: $secondary-title-color;
        color: white;
        border-color: $secondary-title-color;
    }
}

.text-center {
    text-align: center;
}

@for $i from 1 through 5 {
    .mt-#{$i * 15}{
        margin-top: #{$i * 15}px;
    }
    .mb-#{$i * 15}{
        margin-bottom: #{$i * 15}px;
    }
    .mtb-#{$i * 15}{
        margin-top: #{$i * 15}px;
        margin-bottom: #{$i * 15}px;
    }
    .pt-#{$i * 15}{
        padding-top: #{$i * 15}px;
    }
    .pb-#{$i * 15}{
        padding-bottom: #{$i * 15}px;
    }
    .ptb-#{$i * 15}{
        padding-top: #{$i * 15}px;
        padding-bottom: #{$i * 15}px;
    }
}
