//MAIN
//Inizio Services Section
.services{
    background-color: $bg-color-2;

    .container {
        padding: 120px 0;

        .services-info {
            @include d-flex-sb-center;

            .btn {
                margin-left: 150px;
            }
        }

        .services-container {
            @include d-flex-start;
            flex-wrap: wrap;
            margin-right: -25px;
            margin-top: 50px;

            .service {
                width: calc(100% / 3 - 25px);
                background-color: $bg-color-1;
                padding: 55px 40px;
                border-radius: 10px;
                margin-right: 25px;
                margin-bottom: 25px;
                position: relative;

                .arrow {
                    position: absolute;
                    top: 55px;
                    right: 45px;

                    i {
                        font-size: 23px;
                        color: transparentize($primary-color, 0.5);
                    }
                }

                i {
                    font-size: 35px;
                    color: $primary_color;
                }
            }
        }
    }
}
//Fine Services Section

//Inizio Company Section
.company {
    background-color: $bg-color-3;
    color:$secondary-paragraph-color;
    position: relative;

    .section-content {
        @include d-flex-end;
        align-items: center;

        .company-info {
            width: 37.5%;

            h3 {
                color: white;
            }

            .features-container{
                @include d-flex-start;
                flex-wrap: wrap;
                margin-top: 40px;

                .feature {
                    width: 40%;
                    margin-bottom: 40px;
                    margin-right: 40px;

                    h4 {
                        color: white;
                        display: inline-block;
                    }

                    i {
                        font-size: 23px;
                        color: $secondary-title-color;
                        margin-right: 7px;
                    }
                }
            }

            .buttons {

                .btn {
                    margin-right: 20px;
                }

                .btn-empty {
                    color: white;
                }
            }
        }

        .successfull-guy-pic {
            width: 50%;
            overflow: hidden;

            img {
                width: 120%;
            }
        }
    }

    .bullets {
        position: absolute;
        width: 10%;
        height: 58px;
        overflow: hidden;
        left: 50%;
        transform: translateX(-50%);

        &.top {
            top: -28px;
        }

        &.bottom {
            bottom: -28px;
        }
    }
}
//Fine Company Section
