//Inizio info top bar
.info-top-bar {
    background-color: $primary-title-color;
    padding: 16px 0;
    font-size: 14.5px;
    color: $secondary-paragraph-color;

    .container {
        @include d-flex-sb-center;

        span {
            cursor: pointer;
            transition: 0.5s color;

            a {
                color: $secondary-paragraph-color;
                transition: 0.5s color;
            }

            &:hover,
            &:hover a {
                color: $secondary-title-color;
            }
        }

        .timetable i {
            margin-right: 5px;
        }

        .contacts {
            span {
                margin-left: 28px;
            }

            i:not(.fa-linkedin-in) {
                margin-right: 5px;
            }
        }
    }
}
//Fine info top bar

//Inizio Navigator
nav {
    width: 100%;
    position: fixed;
    top: 50px;
    left: 0;
    transition: 0.2s top, 0.2s background-color;
    z-index: 2;

    &.fixedTop .container {
        padding: 10px 0;
    }

    .container {
        @include d-flex-sb-center;
        padding: 20px 0 0;

        .logo {
            font-size: 19.5px;
            @include logo;

            .logo-first-half {
                @include logo-surrended;
            }
        }

        ul li {
            display: inline-block;
            margin-left: 33px;
            cursor: pointer;

            &:hover a:not(.btn) {
                color: $secondary-title-color;
            }

            &.active a {
                color: $primary_color;
            }

            a {
                text-transform: uppercase;
                font-weight: 500;
                transition: 0.5s color, 0.5s background-color;
            }
        }
    }
}


.fixedTop {
    top: 0;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    transition: 0.2s top, 0.2s background-color;
}
//Fine Navigator

//Inizio Banner
.banner {
    width: 100%;
    height: calc(100vh - 50px);
    position: relative;
    overflow: hidden;


    //Inizio Slider Container
    .swiper-container {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;

        #particles-js {
            height: 100%;
            width: 100%;
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.8;
        }

        .parallax-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 200%;
            height: 100%;
            background-image: url("../img/bg-parallax.png");
            background-size: cover;
            background-position: center;
        }

        .container {
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;

            .surrounded {
                margin-left: 0;
            }

            p {
                font-size: 19px;
                line-height: 30px;
            }
        }

        .left .container {
            align-items: flex-start;

            .slide-content {
                width: 50%;
                text-align: left;

                h1 {
                    line-height: 90px;

                    span {
                        margin-left: 0;
                    }
                }

                p {
                    margin: 20px auto 40px;
                }
            }
        }

        .center .container {
            align-items: center;

            .slide-content {
                width: 50%;
                text-align: center;

                h2 {
                    line-height: 90px;
                }

                p {
                    width: 85%;
                    margin: 20px auto 40px;
                }
            }
        }

        .right .container {
            align-items: flex-end;

            .slide-content {
                width: 50%;
                text-align: left;

                h2 {
                    line-height: 90px;
                }

                p {
                    margin: 20px 0 40px;
                }
            }
        }

        .btn-empty {
            margin-left: 20px;
        }



        .swiper-pagination {
            width: max-content;
            height: max-content;
            position: absolute;
            top: calc(50% - 50px);
            left: calc(100% - 50px);

            .swiper-pagination-bullet {
                width: 10px;
                height: 35px;
                margin-bottom: 8px;
                border-radius: 10px;
                background-color: transparent;
                border: 1px solid $primary_color;
                opacity: 0.5;
                display: block;
            }

            .swiper-pagination-bullet.swiper-pagination-bullet-active {
                background-color: $primary_color;
                opacity: 1;
            }
        }
    }
    //Fine Slider Container
}
//Fine Banner
