// Inizio info top bar
.info-top-bar {
    background-color: $primary-title-color;
    padding: 16px 0;
    font-size: 14.5px;
    color: $secondary-paragraph-color;

    .container {
    @include d-flex-sb-center;

        span {
            cursor: pointer;
            transition: 0.5s color;

            a {
                color: $secondary-paragraph-color;
                transition: 0.5s color;
            }

            &:hover,
            &:hover a {
                color: $secondary-title-color;
            }
        }

        .timetable i {
        margin-right: 5px;
        }

        .contacts {
            span {
                margin-left: 25px;
            }

            i:not(.fa-linkedin-in) {
                margin-right: 5px;
            }

        }
    }
}
// Fine info top bar

// Inizio Navigator
nav {
    background-color: trasparent;

    .container {
        @include d-flex-sb-center;
        padding: 18px 0;

        .logo {
            font-size: 20px;
            @include logo;

            .logo-first-half {
            @include logo-surrendered;
            }
        }

        ul li {
            display: inline-block;
            margin-left: 31px;
            cursor: pointer;

            &:hover a:not(.btn){
                color: $secondary-title-color;
            }

            a {
                text-transform: uppercase;
                font-weight: 500;
                transition: 0.5s color, 0.5s background-color;
            }
        }
    }
}
// Fine Navigator

// Inizio Banner
.banner {
    width: 100%;
    height: calc(100vh - 132px);
    position: relative;
    overflow: hidden;

    .bg-image {
        width: 200%;
        height: 100%;
        background-image: url("../img/bg-parallax.png");
        background-size: cover;
        background-position: center;
        position: absolute;
        bottom: 0;
        left: -50%;
        z-index: -1;
    }

    .container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        p {
            width: 42%;
            text-align: center;
            margin: 20px 0 40px;
            font-size: 18px;
        }
    }

    h2 {
        color: $primary-title-color;
    }

    .btn-empty {
        margin-left: 20px;
    }
}
// Fine Banner
