@mixin d-flex-sb-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin d-flex-sa-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin d-flex-col {
    display: flex;
    flex-direction: column;
}

@mixin d-flex-start {
    display: flex;
    justify-content: flex-start;
}

@mixin d-flex-end {
    display: flex;
    justify-content: flex-end;
}

@mixin d-flex-sb {
    display: flex;
    justify-content: space-between;
}

@mixin img-vertically-centered {
    vertical-align: middle;
    position: relative;
    bottom: 2px;
}

@mixin center-horizontally {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin logo {
    font-weight: 700;
    color: $primary-title-color;
    letter-spacing: 4px;
}

@mixin logo-surrended {
    color: $secondary-title-color;
    padding: 10px 0 10px 27px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 2px;
    background-color: transparentize($secondary-title-color, 0.85);
}
