//PALETTE COLORI
//Colore primario
$primary_color: #058283;

//Colori per titoli
$primary-title-color: #21333E;
$secondary-title-color: #00A6A6;

//Colori per paragrafi
$primary-paragraph-color: #606D75;
$secondary-paragraph-color: #C0C3D0;
$opaque-white: #F9F9F9;

//Colori di sfondo
$bg-color-1: #FFFFFF;
$bg-color-2: #EEF4ED;
$bg-color-3: #111117;

//Colore di sfondo per input
$input-bg: #ECECEC;
//FINE PALETTE COLORI

//FONTS
$title-font: 'Poppins', sans-serif;
$standard-text-font: 'Montserrat', sans-serif;
