$primary_color: #058283;
$lighter_primary_color: #52BBBA;
$secondary-color: #21333E;

$standard-text-color: #BCBEBC;

$bg-color-1: #FFFFFF;
$bg-color-2: #EEF1ED;
$bg-color-3: #111117;

$title-font: 'Poppins', sans-serif;
$standard-text-font: 'Montserrat', sans-serif;
