$primary_color: #058283;

$primary-title-color: #21333E;
$secondary-title-color: #00A6A6;

$primary-paragraph-color: #606D75;
$secondary-paragraph-color: #C0C3D0;

$opaque-white: #F9F9F9;

$bg-color-1: #FFFFFF;
$bg-color-2: #EEF1ED;
$bg-color-3: #111117;

$title-font: 'Poppins', sans-serif;
$standard-text-font: 'Montserrat', sans-serif;
